body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    border: 0;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    background-color: #e5e5e5;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("img/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

.intro__suptitle {
    margin-bottom: 20px;

    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
}


/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}


/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}


/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* Slider */
.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

.section {
    padding: 80px 0;
}

.section__devices {
    margin-bottom: 40px;
    background: url("img/devices-bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 0;
}

.section__gray {
    background-color: #f8f8f8;
}

.section__clients {
    background: #f5f5f5 url("img/clients-bg.png") center no-repeat;
    background-size: cover;
}

.section__map {
    background: #e6e6e6 url("img/map-bg.png") center no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.section__suptitle {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #999;
}

.card {
    display: flex;
    justify-content: space-between;
    margin: 80px -15px;
}

.card__item {
    width: 33.3333%;
    padding: 0 15px;
}

.card__inner {
    background-color: #95e1d3;
    position: relative;
}

.card__text {
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.card__info {
    margin-top: 20px;
    text-align: center;
}

.card__name {
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.card__prof {
    color: #999;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.card__inner:hover .card__text {
    opacity: 1;
}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__img {
    transition: transform .1s linear;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.card__img img {
    display: block;
    transition: opacity .2s linear;
}

.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
}

.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}

.services {
    display: flex;
}

.service__item {
    flex: 1 1 0;
    padding-left: 85px;
    padding-right: 35px;
    position: relative;
}

.service__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.service__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-size: 15px;
    color: #999;
}

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
}

.devices__item__iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}

.we__do {
    display: flex;
}

.we__do__item {
    width: 50%;
}

.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}

.accordion__item.active .accordion__header {
    border-bottom-color: #e5e5e5;
}

.accordion__item.active .accordion__content {
    display: block;
}

.accordion__item.active .accordion__header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion__header {
    border-bottom: 1px solid transparent;
    position: relative;
    padding: 15px 20px 15px 65px;
    cursor: pointer;
}

.accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}

.accordion_icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%);
}

.accordion__content {
    display: none;
    padding: 15px 20px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 255px;
    position: relative;
}

.reviews__photo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    margin-bottom: 15px;
}

.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.reviews__button {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__button:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.reviews__button__prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews__button__next {
    right: 0;
    transform: rotate(135deg);
}

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 55px;
    height: 55px;
    padding: 12px 10px;
    background: #fce38a;
    border-right: 1px solid #f38181;
    text-decoration: none;
    color: #f38181;
    font-size: 30px;
    line-height: 1;
    transition: background .1s linear, color .1s linear;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    color: #fff;
    background-color: #f38181;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__img {
    opacity: 0.1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity .2s linear;
}

.works__info {
    padding: 0 15px;
    color: white;
    opacity: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works__title {
    margin: 5px 0;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}

.works__text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.client__photo {
    border-radius: 50%;
    width: 110px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.client__name {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.client__prof {
    color: #333;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.client__text {
    font-size: 15px;
    color: #999;
}

.client__text:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 15px 0;
}

.blog {
    display: flex;
    justify-content: space-between;
}

.blog__item {
    width: 31%;
}

.blog__header {
    position: relative;
    margin-bottom: 14px;
}

.blog__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog__date {
    font-weight: 300;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    font-style: italic;
    background-color: #95e1d3;
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
}

.blog__date-day {
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
}

.blog__content {
    margin-bottom: 14px;
}

.blog__title {
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}

.blog__content a {
    color: inherit;
    text-decoration: none;
}

.blog__title:hover {
    text-decoration: underline;
}

.blog__text {
    font-size: 15px;
    color: #999;
}

.blog__footer {
    padding-top: 14px;
    border-top: 1px solid #e5e5e5;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}

.blog__stat-item {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.blog__stat-item i {
    color: #95e1d3;
}

.map {
    text-align: center;
}

.map__title {
    font-size: 24px;
    color: #f38181;
    font-weight: 700;
    text-transform: uppercase;
}

.map__title a {
    color: inherit;
    text-decoration: none;
}

.map__title a:hover {
    text-decoration: underline;
}

.map__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0;
    background-color: #f38181;
}

.footer {
    padding-top: 65px;
    background-color: #f8f8f8;
}

.footer__inner {
    display: flex;
    padding-bottom: 65px;
    justify-content: space-between;
}

.footer__col-subscribe {
    width: 40%;
}

.footer__col-subscribe {
    width: 29%;
}

.footer__col-instagram {
    width: 22%;
}

.footer__logo {
    margin-bottom: 30px;
    color: #cccccc;
    font-size: 46px;
    font-weight: 700;
}

.footer__text {
    font-size: 15px;
    color: #999999;
    margin-bottom: 30px;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__social-header {
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}

.footer__social-header b {
    font-size: 18px;
}

.footer__social-content {
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
    padding-top: 15px;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 18px;
    color: #95e1d3;
}

.footer__title {
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    margin: 30px 0;
}

.subscribe {
    display: flex;
    width: 100%;
    max-width: 380px;
}

label {
    width: 60%;
}

.subscribe__input {
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #e7e7e7;
    font-size: 15px;
    font-style: italic;
    color: #000;
    font-weight: 300;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    border-right: 0;
}

.subscribe__input::placeholder {
    color: #ccc;
}

.subscribe__button {
    width: 40%;
    height: 40px;
    background: #95e1d3;
    border: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 30px;
    line-height: 1.1;
    transition: background .2s linear;
}

.subscribe__button:hover {
    background-color: #74c7b8;
}

.subscribe__button:focus {
    outline: 0;
}

.subscribe__input:focus {
    outline: 0;
    border-color: #95e1d3;
}

.blogs__item {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.blogs__img {
    width: 120px;
    height: 80px;
}

.blogs__content {
    padding-left: 20px;
}

.blogs__title {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    line-height: 1.5;
    margin-bottom: 5px;
}

.blogs__title:hover {
    text-decoration: underline;
}

.blogs__date {
    font-size: 13px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram__item {
    width: 32.3333%;
    border-bottom: 1px solid #fff;
}

.instagram__item img {
    width: 100%;
    display: block;
}

/* Responsive */

@media (max-width: 1200px) {
    .intro__suptitle {
        font-size: 52px;
    }

    .intro__title {
        font-size: 120px;
    }
}

@media (max-width: 990px) {
    .intro__suptitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 80px;
    }
}

@media (max-width: 770px) {
    .nav {
        display: none;
    }

    .section {
        padding: 40px 0;
    }

    .slider__text {
        display: none;
    }

    .slider__item.active:before {
        width: 50%;
    }
}

@media (max-width: 575px) {
    .intro__suptitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 60px;
    }

    .section__header {
        margin-bottom: 50px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__suptitle {
        font-size: 20px;
    }

    .section__title:after {
        margin: 20px auto;
    }
}